/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.recipe-image {
  width: 100%;
  height: 65%;
  object-fit: cover;
}

.card {
  width: 80%;
  height: 30rem;
  padding: 0;
  margin: 1rem;
}

.recipes-list {
  justify-content: space-evenly;
}

body {
  background: linear-gradient(150.63deg, #ffb299, #ffe0b6);
}

